NODE_ENV=development
APP_NAME="WPCAS Survey API"
API_PREFIX=api
APP_PORT=4010

DATABASE_USERNAME=postgres
DATABASE_PASSWORD=secret
DATABASE_NAME=service-db
DATABASE_PORT=5432
DATABASE_URL="postgresql://postgres:secret@postgres:5432/service-db?sslmode=prefer"
